*{
    margin: 0%;
    padding: 0%;
}
body{
    color: #fff;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 12px 35px 12px 24px;
    align-items: center;
    background-color: #0274be;
}
.nav-links{
    padding: 0 18px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: Oswald sans-serif;
}
.nav-links:hover{
    opacity: 90%;
}
.header-heading-one{
    font-size: 18px;
    margin-top: 155px;
    padding: 10px 166px 10px 65px;
}
.header-heading-two{
    font-size: 8rem;
    font-weight: 400;
    font-family: 'Six Caps',sans-serif;
    text-align: center;
    margin-top: -13px;
    letter-spacing: 10px;
    line-height: 1;
}
header{
    display: flex;
    justify-content: center;
    background-color: #0274be;
}
.header-headings{
    text-align: right;
    margin: 117px -135px 120px 168px;
}
.header-heading-three{
    font-family: 'Six Caps',sans-serif;
    font-size: 18px;
    margin: 48px 48px 8px 0;
}
.header-heading-four{
    font-family: 'Six Caps',sans-serif;
    font-size: 40px;
    margin-right: 45px;
}
.section-one-heading-one{
    font-size: 6rem;
    font-weight: 400;
    font-family: 'Six Caps',sans-serif;
    letter-spacing: 13px;
    line-height: 1;
}
.daily{
    display: flex;
    justify-content: space-between;
    padding: 100px;
    border-bottom: 2px solid #fff;
}
.section-one-heading-two{
    font-family: 'Six Caps',sans-serif;
    font-size: 23px;
    margin-top: 158px;
    width: 50%;
    text-align: right;
}
.time{
    display: flex;
    flex-direction: column;
    margin: 50px 80px 0 80px;
}
.time-one{
    display: flex;
    justify-content: space-around;
}
.VR{
    display: flex;
    justify-content: center;
    background-color: #0274be;
    padding: 100px;
}
.virtual-guided-one{
    padding: 100px 50px;
    background-color: #00234d;
    text-align: center;
}
.section-two-heading{
    font-size: 35px;
    text-align: center;
}
.section-two-paragraph{
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin: 34px 10px;
    width: 96%;
}
.section-two-button{
    cursor: pointer;
    border: 2px solid rgb(163 146 146);
    font-size: 15px;
    letter-spacing: 2px;
    line-height:15px;
    color: rgba(255, 255, 255);
    padding: 15px 30px;
    background-color: #00234d;
    margin-top: 25px;
}
.section-three-button{
    cursor: pointer;
    border: 2px solid rgb(199 184 184);
    font-size: 15px;
    letter-spacing: 2px;
    line-height:15px;
    color: rgba(255, 255, 255);
    padding: 15px 26px;
    background-color: #02709C;
    margin-top: 24px;
}
.animals{
    text-align: center;
}
.sealion-jellyfish-mantaray{
    display: flex;
    justify-content: center;
}
.section-three{
    border: 1px solid #808285;
    background-color: #0693e3;
    margin: 30px;
    height: 504px;
}
.section-three-image{
    width: 360px;
    height: 529px;
}
.section-three-heading{
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    margin-top: -115px;
}
.section-three-icon{
   margin-left: 153px;
   border-radius: 25px;
}
.about{
    padding:100px;
}
.div-4{
    display: flex;
    justify-content: center;
    background-color: #0274be;
}
.section-four-heading-two{
    font-family: 'Six Caps',sans-serif;
    font-size: 23px;
    padding-top: 22px;
}
.couple-image{
    margin: 150px 100px 0 0;
}
.div-5{
    display: flex;
    justify-content: center;
    background-color: #014faf;
    padding: 100px;
}
.penguin-image{
    width: 570px;
    height: 586px;
    margin-top: -24px;
}
.section-five{
    padding: 50px;
    background-color: #00234D;
    width: 570px;
    height: 487px;
    margin-top: 24px;
}
.shark{
    background-color: #00234d;
    background-image: url('https://websitedemos.net/aquarium-04/wp-content/uploads/sites/752/2021/01/animals-05-free-img.png');
}
footer{
    padding: 125px 0;
 
    text-align: center;
    background-color: #00234D;
}
.footer-icons{
    width: 22px;
    height: 22px;
    padding: 12px;
    margin-right: 10px;
    background-color: #02709C;
    border-radius: 25px;
}
.footer-paragraph{
    margin: 20px 0 10px 0;
}
.footer-icons:hover{
    background-color: white;
}
section{
    background-color: #0274be;
}
.nav-image{
    margin-top: 5px;
    margin-left: 10px;
}
.tickets-border{
    border-left: 2px solid #fff;
}
.div-1{
    display: flex;
}
.nav-ticket-links{
    padding: 0 18px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: Oswald sans-serif;
}
.nav-ticket-links:hover{
    background-color:#00234D;
}
.div-2{
    display: flex;
    justify-content: right;
}
.header-border{
    border-bottom: 2px solid #fff;
    padding-right: 50px;
}
.girl{
    width: 520px;
    height: 584px;
}
.div-3{
    background-color: #247494;
}
.vr-border{
    border-bottom: 2px solid #fff;
    margin: 0 210px;
}
.section-two-button:hover{
    border: none;
}
.section-three-paragraph{
    width: 49%;
    color: white;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
    margin: 21px 340px;
}
.section-three-button:hover{
    background-color: #00234D;
    border: none;
}
.section-three:hover{
    opacity: 50%;
}
.section-three-icon:hover{
    background-color: white;
}
.section-four-heading-one{
    font-size: 7rem;
    font-weight: 400;
    font-family: 'Six Caps',sans-serif;
    letter-spacing: 5px;
    line-height: 1;
}
.section-four-paragraph{
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin: 34px 1px;
    width: 122%;
    line-height: 31px;
}
.section-four-button{
    cursor: pointer;
    border: 2px solid rgb(199 184 184);
    font-size: 15px;
    letter-spacing: 2px;
    line-height:15px;
    color: rgba(255, 255, 255);
    padding: 15px 22px;
    background-color: #02709C;
    margin-top: 24px;
    margin-left: 6px;
}
.section-four-button:hover{
    background-color: #00234D;
    border: none;
}
.section-six-heading-one{
    font-size: 35px;
    text-align: center;
    padding-top: 160px;
    padding-bottom: 10px;
}
.section-six-heading-two{
    font-size: 5rem;
    font-weight: 400;
    font-family: 'Six Caps',sans-serif;
    letter-spacing: 13px;
    line-height: 1;
    text-align: center;
}
.section-six-paragraph{
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin: 34px 322px;
    width: 51%;
    text-align: center;
    line-height: 30px;
}
.section-six-button{
    cursor: pointer;
    border: 2px solid rgb(199 184 184);
    font-size: 15px;
    letter-spacing: 2px;
    line-height:15px;
    color: rgba(255, 255, 255);
    padding: 15px 22px;
    background-color: #00234D;
    margin-top: 24px;
    margin-left: 582px;
}
.section-six-button:hover{
    border: none;
}
.section-one-heading-three{
    font-size: 35px;
    padding-bottom: 15px;
}
.section-one-heading-four{
   font-size: 18px;
   padding-bottom: 15px;
}
.section-one-link{
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid #88b5fa;;
}
.div-8{
    margin-bottom: 32px;
    margin-top: 10px;
}
.time-border{
    border-bottom: 1px solid #fff;
}
.section-one-link:hover{
    border-bottom: none;
}