*{
    margin: 0%;
    padding: 0%;
}
body{
    color: #fff;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 12px 35px 12px 24px;
    align-items: center;
    background-color: #0274be;
}
.nav-links{
    padding: 0 18px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-family: Oswald sans-serif;
}
.nav-links:hover{
    opacity: 90%;
}
.header-heading-one{
    font-size: 18px;
    text-align: center;
    margin-top: 155px;
    margin-left: -265px;
}
.header-heading-two{
    font-size: 8rem;
    font-weight: 400;
    font-family: 'Six Caps',sans-serif;
    text-align: center;
    margin-top: -13px;
}
header{
    display: flex;
    justify-content: center;
    background-color: #0274be;
}
.header-headings{
    text-align: right;
    margin: 117px -135px 120px 168px;
}
.header-heading-three{
    font-family: 'Six Caps',sans-serif;
    font-size: 18px;
}
.header-heading-four{
    font-family: 'Six Caps',sans-serif;
    font-size: 40px;
}
.section-one-heading-one{
    font-size: 8rem;
    font-weight: 400;
    font-family: 'Six Caps',sans-serif;
}
.daily{
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.section-one-heading-two{
    font-family: 'Six Caps',sans-serif;
    font-size: 23px;
    margin-top: 354px;
    width: 50%;
    margin-right: -331px;
}
.time{
    display: flex;
    flex-direction: column;
}
.time-one{
    display: flex
}
.VR{
    display: flex;
    background-color: #0274be;
}
.virtual-guided-one{
    padding: 100px 50px;
    background-color: #00234d;
}
.virtual-guided-two{
    text-align: center;
}
.section-two-heading{
    font-size: 35px;
}
.section-two-paragraph{
    color: #808285;
    font-size: 18px;
    font-weight: 400;
}
.section-two-button{
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255);
    font-size: 15px;
    letter-spacing: 2px;
    line-height:15px;
    color: rgba(255, 255, 255);
    padding: 15px 30px;
    background-color: #00234d;
}
.section-three-button{
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255);
    font-size: 15px;
    letter-spacing: 2px;
    line-height:15px;
    color: rgba(255, 255, 255);
    padding: 15px 30px;
    background-color: #00234d;
}
.animals{
    text-align: center;
}
.sealion-jellyfish-mantaray{
    display: flex;
    justify-content: center;
}
.section-three{
    border: 1px solid #808285;
    background-color: #0693e3;
    margin: 30px;
    height: 504px;
}
.section-three-image{
    width: 360px;
    height: 529px;
}
.section-three-heading{
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    margin-top: -115px;
}
.section-three-icon{
   margin-left: 153px;
   border-radius: 25px;
}
.about{
    padding:0 100px;
}
.div-4{
    display: flex;
    justify-content: center;
    background-color: #0274be;
}
.section-four-heading{
    font-family: 'Six Caps',sans-serif;
    font-size: 23px;
}
.couple-image{
    margin: 150px 100px 0 0;
}
.div-5{
    display: flex;
    justify-content: center;
   
    background-color: #00234d;
}
.penguin-image{
    width: 570px;
    height: 586px;
}
.section-five{
    padding: 50px;
    background-color: #00234D;
    width: 570px;
    height: 487px;
    margin-top: 24px;
}
.shark{
    margin: 0;
    padding: 0 500px;
    background-color: #00234d;
}
footer{
    padding: 125px 0;
 
    text-align: center;
    background-color: #00234D;
}
.footer-icons{
    width: 22px;
    height: 22px;
    padding: 12px;
    margin-right: 10px;
    background-color: #02709C;
    border-radius: 25px;
}
.footer-paragraph{
    margin: 20px 0 10px 0;
}
.footer-icons:hover{
    background-color: white;
}
section{
    background-color: #0274be;
}
.nav-image{
    margin-top: 5px;
    margin-left: 10px;
}
